.App {
  display: flex;
  flex-direction: column;
  background-color: #FFD868;
  color: #3A4800;
  min-height: 100vh;
}

section {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  padding-top: 0;
  max-width: 1200px;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
}

*:link {
  color: #B12500;
}

*:visited {
  color: #4B1000;
}

button {
  border: 2px #3A4800 solid;
  background-color: #C4F600;
  color: #B12500;
}

button:hover, button:focus {
  border: 2px #CFF929 solid;
  background-color: #87AA00;
}