.App {
  display: flex;
  flex-direction: column;
  background-color: #FFD868;
  color: #3A4800;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: "Amaranth", "Verdana", "Helvetica", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

p {
  font-family: "Merriweather", "Garamond", "Times", serif;
  text-align: left;
}

span {
  font-family: "Merriweather Sans", "Helvetica", sans-serif;
}

section {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  padding-top: 0;
  max-width: 1400px;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.appImg {
  width: 400px;
  max-width: 55%
}

*:link {
  color: #B12500;
}

*:visited {
  color: #4B1000;
}

button {
  font-family: "Merriweather Sans", "Helvetica", sans-serif;
  font-size: 20px;
  border: 2px #3A4800 solid;
  background-color: #C4F600;
  color: #B12500;
  height: 50px;
  width: 100px;
}

button:hover, button:focus {
  border: 2px #CFF929 solid;
  background-color: #87AA00;
}

@media screen and (min-width: 680px) {
  h1 {
    font-size: 42px;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 30px;
  }
}