nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navLink {
  margin: 4px;
  padding: 4px;
  display: inline-block;
  border: 3px #3A4800 solid;
  background-color: #C4F600;
}

.navLink:hover, .navLink:focus-within {
  border: 3px #CFF929 solid;
  background-color: #87AA00;
}

.navLink * {
  color: #B12500;
}

.navLink *:visited {
  color: #4B1000;
}